# Use "fake-outputs" command to set up two "fake" screens.  The first fake
# screen is 1920x1200, and uses the left-most monitor the second fake screen is
# 5760x1200, and it uses the three right-most monitors each fake screen is
# separated by a comma
#fake-outputs 1920x1200+0+0,5760x1200+1920+0

bindsym $mod+Delete exec xflock4

bar {
  status_command i3status -c ~/.i3/configs/tatooine.status.cfg | ~/.i3/i3status_wrapper.pl
  font -misc-fixed-medium-r-normal--13-120-75-75-C-70-iso10646-1
  font pango:Monofur 10

  colors {
    background #000000
    statusline #ffffff
    separator #666666

    focused_workspace  #4c7899 #285577 #ffffff
    active_workspace   #333333 #5f676a #ffffff
    inactive_workspace #333333 #222222 #888888
    urgent_workspace   #2f343a #900000 #ffffff
  }
}
