# i3status configuration file.
# see "man i3status" for documentation.

# It is important that this file is edited as UTF-8.
# The following line should contain a sharp s:
# ß
# If the above line is not correctly displayed, fix your editor first!

general {
  output_format = "i3bar"
  colors = true
  interval = 1
  color_good = "#0099CC"
  color_bad = "#FF0066"
  color_separator = "#000000"
}

order += "cpu_usage"
order += "load"
order += "disk /"
order += "run_watch dhcp"
order += "ethernet eth0"
order += "tztime local"

cpu_usage {
  format = "cpu at %usage"
}

ethernet eth0 {
  # if you use %speed, i3status requires root privileges
  format_up = "eth %ip"
  format_down = "eth"
  color_bad = "#777777"
}

run_watch dhcp {
  pidfile = "/var/run/dhclient*.pid"
}

load {
  format = "load %1min"
}

disk "/" {
  format = "%avail free"
}

tztime local {
  format = "%Y-%m-%d %H:%M:%S %Z"
}
